:root {
  --glowStyle: {{glowStyle_FD}};
  --glowColor1: {{glowColor1_FD}};
  --glowColor2: {{glowColor2_FD}};
  --glowColorSpeed: {{glowColorSpeed_FD}};

  --xSize: {{xSize_FD}}px;
  --ySize: {{ySize_FD}}px;
  --xShift: {{xShift_FD}}px;
  --yShift: {{yShift_FD}}px;

  --borderRadius: {{borderRadius_FD}}%;
  --borderThickness: {{borderThickness_FD}}px;
  --borderColor: {{borderColor_FD}};
  --borderGrow: {{borderGrow_FD}}px;
  --borderGrowSpeed: {{borderGrowSpeed_FD}};

  --spread: {{spread_FD}}px;
  --spreadMax: {{spreadMax_FD}}px;
  --spreadSpeed: {{spreadSpeed_FD}};

  --blur: {{blur_FD}}px;
  --blurMax: {{blurMax_FD}}px;
  --blurSpeed: {{blurSpeed_FD}};
}

*{
  margin: 0px;
  padding: 0px;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
#border {
  flex: 0 0 calc(100% + var(--xSize));
  height: calc(100% + var(--ySize));
  border: var(--borderThickness) solid var(--borderColor);
  box-sizing: border-box;
  border-radius: var(--borderRadius);
}
.borderDefault {
    box-shadow: var(--glowStyle) var(--xShift) var(--yShift) var(--spread) var(--blur) var(--glowColor1);
    animation:
      borderChange 5s infinite,
      example 5s infinite,
}

border: var(--borderThickness) solid var(--borderColor);

@keyframes borderChange {
  0%   {border: var(--borderThickness) solid var(--borderColor)}
  50% {border: var(--borderThickness) solid var(--borderColor)}
  100%   {border: var(--borderThickness) solid var(--borderColor)}
}

@keyframes example {
  0%   {border-width: 0px}
  50% {border-width: 50px}
  100%   {border-width: 0px}
}
